.app.dark {
    --bg-color: white;
    --inverted-bg-color: #0115c6;
    --primary-color: black;
    --secondary-color: #4b4545;
    --inverted-primary-color: white;
    --inverted-secondary-color: #b4baba;
}
